.App {
  text-align: center;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* 增加间隙 */
}

.loader-wraaper {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
}

.dialog-loader-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
}